.bigcontainer1{
  border: 1px soild red;
  padding: 10px;
}

.header { 
  border: 1px solid cornflowerblue;
  background-color: bisque;
  margin-bottom: 10px;
}

.contain2 { 
  @media (min-width: 780px) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  border: 1px solid purple;
  background-color: cadetblue;
  margin-bottom: 15px;
}


.contain3 { 
  border: 1px solid palevioletred;
  background-color: blueviolet;
  margin-bottom: 15px;
  height: 50px;
  @media (min-width: 780px) {
    width: 60%;
  }
}


.contain4{ 
  border: 1px solid palevioletred;
  background-color: blueviolet;
  margin-bottom: 10px;
  height: 50px;
  @media (min-width: 780px) {
  width: 30%;
  }
}


.footer{ 
  border: 1px solid palevioletred;
  background-color: blue;
  margin-bottom: 10px;
}

