.container {
    border-color: red;
    display: grid;
    padding: 10px;
    grid-gap: 10px;

}

.containerheader {
    background-color: cornflowerblue;
}

.containercontents-purple {
    background-color:  purple;
}

.containercontents-mauve {
    height: 100px;

}

.containercontents-mauve,
.containerfooter {
    background-color:  palevioletred;
}
