.bigContainer1{
  border: 1px soild red;
  padding: 10px;
}


.contain1 { 
  border: 1px solid cornflowerblue;
  background-color: ;
}

.contain2 { 
  border: 1px solid purple;
}


.contain3 { 
  border: 1px solid palevioletred;
}