/* Reset */
body {
    margin: 0;
}

/* Basic */
html {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #eff6e0;
}
/* Component style */
.header__container {
    width: 100%;
    height: 40%;
    margin-bottom: 50px;
    margin-top: 50px;
}
.section__content {
    width: 33em;
    height: 30em;
    background-color: white;
    border-radius: 20px;
    text-align: center;
    padding: 20px;
}
.section__image {
    width: 400px;
    height: 300px;
    border-radius: 10px;
   
}
/* Utility style */
.container__display {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    gap: 10px;
}

h1,.section__subtitle {
    color: #3b4c29;
    text-align: center;
}

p{
    text-align: center;
}
footer{
    margin-top: 8rm;
}