html{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container{
  border: 1px solid grey;
  color: #333;
  margin-bottom: 20px;
}

.container + .container {
  /* if container directly next to container, it will apply */
  margin-top: 20px;
}